$bg-color: #222;
$nav-color: #1D1D1D;
$logo-color: #111;
$break-1: 812px;
$break-2: 1050px;
$underline: #FDD835;
$primary-text: #fff;
$secondary-text: #eee;
$tertiary-text: #777;
$card-bg: #fff;
$modal-action: #66BB6A;
html {
	background: $nav-color;
	scroll-behavior: smooth;
}
//type effect main screen and type rules
.typewrite {
	font-family: Space Mono;
	font-weight: 700;
	margin-top: 0.5em;
}
.yellow {
	background: $underline;
	color: $nav-color;	
	padding: 0.15em;
}
body {
	font-family: hero-new, sans-serif;
}
a {
	text-decoration: none;
	color: inherit;
}
.underline {
	border-bottom: 3px solid $underline;
}
.highlighted {
	font-weight: 500;
	color: $primary-text;
}
//Responsive mobile navbar
.nav {
  position: fixed;
  right: 0;
  top: 0;
  z-index: 1;
  padding: 3vh 3.5vh 0 0;
}
#toggle-nav {
	background: $logo-color;
	width: 45px;
	height: 45px;
	z-index: 2 !important;
	cursor: pointer;
	display: flex;
	align-items: center;
	border-radius: 2px;
	display: none;
}
.animated-icon {
	width: 100%;
}
.bar-1, .bar-2, .bar-3 {
	margin: 5px auto;
	background: #fff;
	width: 45%;
	border-radius: 1px;
	height: 3px;
	transition: 0.4s;
	-webkit-transition: 0.2s ease-in;
}
.animate .bar-1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px) ;
    transform: rotate(-45deg) translate(-5px, 6px) ;
}
.animate .bar-2 {opacity: 0;}
.animate .bar-3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px) ;
    transform: rotate(45deg) translate(-5px, -6px) ;
}
.side-nav {
	z-index: 1;
	width: 0;
	top: 0;
	right: 0;
	height: 100vh;
	overflow-y: hidden;
	background: $nav-color;
	position: fixed;
	color: $primary-text;
	text-align: center;
	font-size: 2.2rem;
	letter-spacing: normal;
	display: flex;
	transition: all 800ms cubic-bezier(0.19, 1, 0.22, 1);
	-webkit-transition: all 800ms cubic-bezier(0.19, 1, 0.22, 1);
	opacity: 0.97;
}
.mobile-nav {
	width: 90%;
	margin: auto;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	text-align: center;	
}
.mobile-nav li {
	font-size: 0.6em;
	margin: 1em 0;
}
//universal rules
.container {
	display: flex;
}
//desktop side nav
.left-nav {
	width: 17%;
	height: 100vh;
	position: fixed;
	top: 0;
	left: 0;
}
.main {
	width: 83%;
	margin-left: 17%;	
	background: $bg-color;	
	color: $primary-text;	
}
//side-bar hover-effect
.hover {
	transition: 0.2s ease;
	position: relative;	
}
.hover:after {
	content: '';
	position: absolute;
	bottom: 0;
	left: 0;
	width: 0%;
	border-bottom: 2.5px solid $primary-text;
	transition: 0.4s;
}
.hover:hover {
	transition: 0.2s ease-out;
	color: $primary-text;
}
.hover.active {
	color: $primary-text;
	font-weight: 400;
}
.hover:hover:after {
	width: 35%;
}
//button-hover effect
.btn {
	border: 2px solid $primary-text;
	color: $primary-text;
	display: inline-block;
	width: auto;
	padding: 0.75em 1em;
	font-size: inherit;
	position: relative;
	overflow: hidden;
	text-align: center;
	transition: 0.3s;
	z-index: 1;	
	margin: 0.75em 0;
}

.fill:hover {
	color: $nav-color; 
}
.fill:before {
	content: "";
	position: absolute;
	background: $primary-text;  
	bottom: 0;
	left: 0;
	right: 0;
	top: 100%;
	z-index: -1;
	-webkit-transition: top 0.15s ease;
}
.fill:hover:before {
  	top: 0;
}
//logo rules
.logo {
	width: 100%;
	height: 10vh;
	display: flex;
	align-items: center;		
	background: $logo-color;
}
.logo p {
	width: 55%;	
	margin: auto;	
	font-size: 0.75em;	
	font-weight: 400;
	// text-transform: uppercase;
	letter-spacing: 1.5px;
	color: $secondary-text;
	text-align: center;
	// border: 1px solid #333;
	// // border-radius: 2px;
	padding: 1em;
}
//desktop nav items
.nav-items {
	color: #444;
	width: 100%;
	height: 90vh;
	display: flex;	
	align-items: center;
	background: $nav-color;
}
.menu,
.index {
	display: flex;
	flex-direction: column;
	width: content;
	text-align: left;	
	font-weight: 500;
	margin: auto;
	font-size: 1.05rem;	
}
.menu a,
.index a {
	margin: 1em 0;	
	padding: 0.5em 0;	
}
/* Tab Content*/
#home, 
#about, 
#contact {
	width: 80%;
	height: 100vh !important;
	margin: auto;				
}
#work {
	width: 70%;
	margin: auto;
	padding-bottom: 4em;
}
#work h2 {
	font-size: 1.4em;
	font-weight: 800;
	margin: 2em 0 1em 0;
	letter-spacing: 3px; text-transform: uppercase; font-size: 1em;
	&:first-child {
		margin-top: 4em;
	}
}
.tab {	
	display: none;	
}
.tab.active {
	display: flex;
	align-items: center;
	justify-content: center;
}
#home h2 {
	font-size:3.5em;	
	font-weight: 800;
}
#home h3 {
	font-size: 2em;	
	font-weight: 400;
}
#home h4,
#contact h4 {
	font-size: 1.25em;
	color: $secondary-text;
	line-height: 2em;
	font-weight: 100;
}
#home *, 
#about *,
#contact * {
	margin-bottom: 1em;
}
#about h4 {
	font-size: 1.4rem;
	line-height: 1.75em;	
	font-weight: 300;
}
#about h3 {
	font-size: 1.3em;
	text-transform: uppercase;
	letter-spacing: 3px;
	margin: 0em 0 0.5em 0;
	font-weight: 800;
	color: $primary-text;
}
.focus {
	margin: 2.5em 0 !important;
	h4 {
		margin-bottom: 0.25em !important;
	}
}
.card-div {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-between;
}
.col {
	flex-basis: 45%;
	margin: 1.5em 0 2.5em 0;
}
.card {
  display: block; 
  color: $secondary-text;
}
.card .title {  
  background-color: gray;
  border-radius: 3px;
}
.card-3 .content {
  background-color: $card-bg !important;
  border-radius: 3px;
  font-weight: 300;
}
.card-3:before, .card-3:after {
  border-radius: 2px;
}
.card-3:before {
  background-color: #ccc !important;
}
.card-3 .title, .card-3:after {
  background-color: #999 !important;
}
//Stack Hover
[class*='stacked--'] {
  position: relative;
  transition: -webkit-transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
  will-change: transform;
}
[class*='stacked--']:before, [class*='stacked--']:after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: currentColor;
  transition: -webkit-transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
  will-change: transform;
}
[class*='stacked--']:before {
  z-index: -1;
}
[class*='stacked--']:after {
  z-index: -2;
}
//Stack hover effect
.stacked--up:before, .stacked--up:after {
  -webkit-transform-origin: center bottom;
          transform-origin: center bottom;
}
.stacked--up:hover {
  -webkit-transform: translate(0, -5px);
          transform: translate(0, -5px);
}
.stacked--up:hover:before {
  -webkit-transform: translate(0, 5px) scale(0.95);
          transform: translate(0, 5px) scale(0.95);
}
.stacked--up:hover:after {
  -webkit-transform: translate(0, 10px) scale(0.9);
          transform: translate(0, 10px) scale(0.9);
}
.content {
	padding-bottom: 1.25em;
	color: #90A4AE;
	line-height: 1.75em;
	font-size: 0.9rem; 
}
.content h4,
.content p {
	padding: 0 1.25em;
}
.content h4 {
	margin: 1em 0 0.5em 0;
	color: #666;
	font-weight: 400;
	font-size: 1rem;
}
.content img {
	width: 100%;
}
//Modal CSS
.modal-window {
  position: fixed;
  background-color: rgba(34, 34, 34, 0.9);
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 999;
  opacity: 0;
  pointer-events: none;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
  &:target {
    opacity: 1;
    pointer-events: auto;
  }
  &>div {
  	border-radius: 3px;
    width: 45%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 2em 3em;
    background: $primary-text;
    color: #333333;
  }
  header {
    font-weight: 700;
  }
  h1 {
    font-size: 1.25em;
    font-weight: 700;
    color: #333333;
  }
}
.modal-close {
  color: #aaa;
  line-height: 50px;
  font-size: 80%;
  position: absolute;
  right: 0;
  text-align: center;
  top: 0;
  width: 70px;
  text-decoration: none;
  &:hover {
    color: #000;
  }
}
.modal-action {	
	display: inline-block;
	font-weight: 400;
	margin-bottom: 1em;
	background: $modal-action ;
	color: $primary-text;
	transition: 0.2s ease;
	padding: 1em;
	border-radius: 2px;
}
.modal-action:hover {
	background: #388E3C;
	transition: 0.2s ease;
	letter-spacing: 0.5px;
}

.modal-content h3 {
	font-size: 1.1em;	
	line-height: 2em;
	font-weight: 500;
}
.modal-content h4 {
	color: #777;	
	line-height: 2em;
	margin-bottom: 1.5em;
	font-weight: 300;
	font-size: 0.95rem;
	&:nth-child(6) {
		margin-bottom: 2.25em;
	}
}
.breadcrumb {
	display: flex;
	margin: 1.25em 0;
}
.breadcrumb p {
	font-size: 0.75em;
	font-weight: 300;		
	background: #eee;
	color: #888;	
	border-radius: 5px;
	padding: 0.75em 1em;
	margin-right: 0.5em;
}
#contact h2 {
	font-size: 2.5em;
	font-weight: bold;
}
#contact h3 {
	font-size: 2.25em;
	color: $underline;
}

.social-handles {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 35%;	
}

.social-handles img {
	width: 100px;	
}
:root {
  --duration: 400ms;
  --ease: cubic-bezier(0.19, 1, 0.22, 1);
  --bounce: cubic-bezier(0.6, -0.28, 0.735, 0.045);
}


.copy-click {
  position: relative;
  padding-bottom: 0.15em;
  text-decoration: none;
  cursor: copy;
  color: $underline;
  border-bottom: 1px dashed $underline;
  transition: background-color calc(var(--duration) * 2) var(--ease);
  
  &:after {
    content: attr(data-tooltip-text);
    position: absolute;
    top: calc(100% + 6px);
    left: 50%;
    padding: 0.5em;
    font-size: 0.45em;
    white-space: nowrap;
    background-color: #111;
    border-radius: 4px;
    box-shadow: 0 0 0 -12px rgba(0,0,0,0);
    pointer-events: none;
    backface-visibility: hidden;
    opacity: 0;
    transform: translate(-50%, 12px);
    transition: 
      box-shadow calc(var(--duration) / 1.5) var(--bounce),
      opacity calc(var(--duration) / 1.5) var(--bounce),
      transform calc(var(--duration) / 1.5) var(--bounce);
  }
 
  &.is-hovered {    
    &:after {
      box-shadow: 0 4px 8px rgba(0,0,0,0.10);
      opacity: 1;
      transform: translate(-50%, 0);
      transition-timing-function: var(--ease);
    }
  }
  
  &.is-copied {
    &:after { 
      content: attr(data-tooltip-text-copied); 
    }
  }
}
@media screen and (max-width: $break-2) {
	.typewrite {
		display: block;
	}
	
}
@media screen and (max-width: $break-1) {
	.left-nav {
		display: none;
	}
	.typewrite {
		display: block;
	}
	.container {
		display: block;
	}
	.main {
		width: 100%;
		margin-left: 0;
	}
	.btn {
		font-size: 1em;
	}
	#home h3,
	#about h3 {
		font-size: 1.5em;
		line-height: 1.5em;
	}
	#home h4,
	#about h4 {
		font-size: 1.25em;
		line-height: 1.75em;
	}

	#work {
		width: 80%;
		height: auto !important;
	}
	.card-div {
		display: block;
	}
	.col {
		width: 100%;
		margin: 2.5em auto;
		font-size: 0.85rem;
	}
	.modal-window {
		&>div {
			width: 80%;
			padding: 1.5em;
		}
	}
	.modal-content {
		font-size: 0.9rem !important;
	}
	.breadcrumb p {
		font-size: 0.7em;
	}
	#toggle-nav {
		display: flex;
	}	
	.social-handles {
		width: 85%;		
	}
	.social-handles a {
		margin-right: 0.5em;
	}
	#contact {
		h2 {
			font-size: 2em;
		}
		h3, h4
		{
			font-size: 1.35em;
		}

	}

}