@font-face {
  src: url("fonts/CalibreTest-Bold.woff");
  font-family: 'Calibre';
  font-weight: 700; }
@font-face {
  src: url("fonts/CalibreTest-Medium.woff");
  font-family: 'Calibre';
  font-weight: 400; }
@font-face {
  src: url("fonts/CalibreTest-Regular.woff");
  font-family: 'Calibre';
  font-weight: 300; }
@font-face {
  src: url("fonts/CalibreTest-Light.woff");
  font-family: 'Calibre';
  font-weight: 100; }
@font-face {
  src: url("fonts/CalibreTest-Semibold.woff");
  font-family: 'Calibre';
  font-weight: 500; }
html {
  background: #000;
  scroll-behavior: smooth; }

.typewrite {
  font-family: Space Mono;
  font-weight: 700;
  margin-top: 0.5em;
  font-size: 2rem; }

.yellow {
  background: #FDD835;
  color: #000;
  padding: 0.15em; }

body {
  font-family: 'Calibre', sans-serif; }

a {
  text-decoration: none;
  color: inherit; }

.underline {
  border-bottom: 3px solid #FDD835; }

.highlighted {
  font-weight: 400;
  color: #fff; }

.nav {
  position: fixed;
  right: 0;
  bottom: 0;
  z-index: 1;
  padding: 0 3.5vh 3vh 0; }

#toggle-nav {
  background: #000;
  width: 100px;
  height: 100px;
  z-index: 2 !important;
  cursor: pointer;
  display: flex;
  align-items: center;
  border-radius: 2px;
  display: none; }

.animated-icon {
  width: 100%; }

.bar-1, .bar-2, .bar-3 {
  margin: 10px auto;
  background: #fff;
  width: 40%;
  height: 5px;
  transition: 0.4s;
  -webkit-transition: 0.2s ease-in; }

.animate .bar-1 {
  -webkit-transform: rotate(-45deg) translate(-9px, 6px);
  transform: rotate(-45deg) translate(-10px, 10px); }

.animate .bar-2 {
  opacity: 0; }

.animate .bar-3 {
  -webkit-transform: rotate(45deg) translate(-8px, -8px);
  transform: rotate(45deg) translate(-10px, -10px); }

.side-nav {
  z-index: 1;
  width: 0;
  top: 0;
  right: 0;
  height: 100vh;
  overflow-y: hidden;
  background: #000;
  position: fixed;
  color: #fff;
  text-align: center;
  font-size: 2.25rem;
  letter-spacing: normal;
  display: flex;
  transition: all 800ms cubic-bezier(0.19, 1, 0.22, 1);
  -webkit-transition: all 800ms cubic-bezier(0.19, 1, 0.22, 1);
  opacity: 0.97; }

.mobile-nav {
  width: 90%;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center; }

.hot-nav ul {
  width: 90%;
  margin: auto; }
  .hot-nav ul li {
    padding: 1.25em 0;
    font-weight: 300;
    font-size: 1em; }
.hot-nav p {
  display: inline-block;
  position: fixed;
  bottom: 0;
  left: 0;
  background: #000;
  color: #fff;
  margin: 0 0 3vh 3.5vh;
  padding: 1.25em;
  z-index: 2; }
  .hot-nav p a {
    display: inline-block;
    font-size: 0.7em !important;
    letter-spacing: 2px;
    font-weight: 300; }

.mobile-nav li {
  font-size: 0.9em;
  margin: 1.5em 0; }

.container {
  display: flex; }

.left-nav {
  width: 17%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0; }

.main {
  width: 83%;
  margin-left: 17%;
  background: #111;
  color: #fff; }

.hover {
  transition: 0.2s ease;
  position: relative; }

.hover:after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0%;
  border-bottom: 2.5px solid #fff;
  transition: 0.4s; }

.hover:hover {
  transition: 0.2s ease-out;
  color: #fff; }

.hover.active {
  color: #fff;
  font-weight: 300; }

.hover:hover:after {
  width: 35%; }

.btn {
  border: 2px solid #fff;
  color: #fff;
  display: inline-block;
  letter-spacing: 1px;
  width: auto;
  font-weight: 300;
  font-size: 1.1em;
  padding: 0.75em 1em;
  position: relative;
  overflow: hidden;
  text-align: center;
  transition: 0.3s;
  z-index: 1;
  margin: 0.75em 0; }

.fill:hover {
  color: #000; }

.fill:before {
  content: "";
  position: absolute;
  background: #fff;
  bottom: 0;
  left: 0;
  right: 0;
  top: 100%;
  z-index: -1;
  -webkit-transition: top 0.15s ease; }

.fill:hover:before {
  top: 0; }

.logo {
  width: 100%;
  height: 10vh;
  display: flex;
  align-items: center;
  background: #000; }

.logo p {
  width: 55%;
  margin: auto;
  font-size: 0.8em;
  font-weight: 400;
  letter-spacing: 1.5px;
  color: #eee;
  text-align: center;
  padding: 1em; }

.nav-items {
  color: #444;
  width: 100%;
  height: 90vh;
  display: flex;
  align-items: center;
  background: #000; }

.menu,
.index {
  display: flex;
  flex-direction: column;
  width: content;
  text-align: left;
  font-weight: 400;
  margin: auto;
  font-size: 1.15rem; }

.menu a,
.index a {
  margin: 1em 0;
  padding: 0.5em 0; }

/* Tab Content*/
#home,
#about,
#contact {
  width: 80%;
  height: 100vh !important;
  margin: auto; }

#work {
  width: 70%;
  margin: auto;
  padding-bottom: 4em; }

#work h2 {
  font-size: 1.4em;
  font-weight: 800;
  margin: 2em 0 1em 0;
  text-transform: uppercase;
  font-size: 1.25em;
  letter-spacing: 2px; }
  #work h2:first-child {
    margin-top: 4em; }

.tab {
  display: none; }

.tab.active {
  display: flex;
  align-items: center;
  justify-content: center; }

#home h2 {
  font-size: 3.5em;
  font-weight: 700; }

#home h3 {
  font-size: 2.25em;
  font-weight: 200;
  letter-spacing: 1px; }

#home h4,
#contact h4 {
  font-size: 1.2em;
  letter-spacing: 0.75px;
  line-height: 2em;
  font-weight: 200; }

#home *,
#about *,
#contact * {
  margin-bottom: 1em; }

#about h4 {
  font-size: 1.5rem;
  line-height: 2em;
  font-weight: 200; }

#about h3 {
  font-size: 1.55em;
  text-transform: uppercase;
  margin: 0em 0 0.5em 0;
  font-weight: 800;
  color: #fff;
  letter-spacing: 2px; }

.focus {
  margin: 2.5em 0 !important; }
  .focus h4 {
    margin-bottom: 0.25em !important; }

.card-div {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between; }

.col {
  flex-basis: 45%;
  margin: 1.5em 0 2.5em 0; }

.card {
  display: block;
  color: #eee; }

.card .title {
  background-color: gray;
  border-radius: 3px; }

.card-3 .content {
  background-color: #fff !important;
  border-radius: 3px;
  font-weight: 300; }

.card-3:before, .card-3:after {
  border-radius: 2px; }

.card-3:before {
  background-color: #ccc !important; }

.card-3 .title, .card-3:after {
  background-color: #999 !important; }

[class*='stacked--'] {
  position: relative;
  transition: -webkit-transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
  will-change: transform; }

[class*='stacked--']:before, [class*='stacked--']:after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: currentColor;
  transition: -webkit-transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
  will-change: transform; }

[class*='stacked--']:before {
  z-index: -1; }

[class*='stacked--']:after {
  z-index: -2; }

.stacked--up:before, .stacked--up:after {
  -webkit-transform-origin: center bottom;
  transform-origin: center bottom; }

.stacked--up:hover {
  -webkit-transform: translate(0, -5px);
  transform: translate(0, -5px); }

.stacked--up:hover:before {
  -webkit-transform: translate(0, 5px) scale(0.95);
  transform: translate(0, 5px) scale(0.95); }

.stacked--up:hover:after {
  -webkit-transform: translate(0, 10px) scale(0.9);
  transform: translate(0, 10px) scale(0.9); }

.content {
  padding-bottom: 1.2em;
  color: #aaa;
  line-height: 1.75em;
  font-size: 1.15rem; }

.content h4,
.content p {
  padding: 0 1.25em; }

.content h4 {
  margin: 1em 0 0.35em 0;
  color: #666;
  font-weight: 400;
  font-size: 1.25rem; }

.content img {
  width: 100%; }

.modal-window {
  position: fixed;
  background-color: rgba(34, 34, 34, 0.9);
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 999;
  opacity: 0;
  pointer-events: none;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s; }
  .modal-window:target {
    opacity: 1;
    pointer-events: auto; }
  .modal-window > div {
    border-radius: 3px;
    width: 45%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 2em 3em;
    background: #fff;
    color: #333333; }
  .modal-window header {
    font-weight: 700; }
  .modal-window h1 {
    font-size: 1.25em;
    font-weight: 700;
    color: #333333; }

.modal-close {
  color: #777;
  line-height: 50px;
  font-size: 80%;
  position: absolute;
  right: 0;
  text-align: left;
  top: 10px;
  width: 70px;
  text-decoration: none; }
  .modal-close:hover {
    color: #000; }

.modal-action {
  display: inline-block;
  font-weight: 300;
  margin-bottom: 1em;
  background: #66BB6A;
  color: #fff;
  transition: 0.2s ease;
  padding: 1em;
  border-radius: 2px; }

.modal-action:hover {
  background: #388E3C;
  transition: 0.2s ease;
  letter-spacing: 0.5px; }

.modal-content h3 {
  font-size: 1.25em;
  line-height: 2em;
  font-weight: 400; }

.modal-content h4 {
  color: #888;
  line-height: 1.75em;
  margin-bottom: 1.5em;
  font-weight: 200;
  font-size: 1.15rem; }
  .modal-content h4:nth-child(6) {
    margin-bottom: 2.25em; }

.breadcrumb {
  display: flex;
  margin: 1.25em 0; }

.breadcrumb p {
  font-size: 0.85em;
  font-weight: 300;
  background: #eee;
  color: #999;
  border-radius: 5px;
  padding: 0.75em 1em;
  margin-right: 0.5em;
  letter-spacing: 1px; }

#contact h2 {
  font-size: 2.5em;
  font-weight: bold; }

#contact h3 {
  font-size: 2.25em;
  color: #FDD835; }

.social-handles {
  display: flex;
  align-items: center;
  width: 30%; }

.social-handles img {
  width: 65%; }

:root {
  --duration: 400ms;
  --ease: cubic-bezier(0.19, 1, 0.22, 1);
  --bounce: cubic-bezier(0.6, -0.28, 0.735, 0.045); }

.copy-click {
  position: relative;
  padding-bottom: 0.15em;
  text-decoration: none;
  cursor: copy;
  color: #FDD835;
  border-bottom: 1px dashed #FDD835;
  transition: background-color calc(var(--duration) * 2) var(--ease); }
  .copy-click:after {
    content: attr(data-tooltip-text);
    position: absolute;
    top: calc(100% + 6px);
    left: 50%;
    padding: 0.5em;
    font-size: 0.45em;
    white-space: nowrap;
    background-color: #111;
    border-radius: 4px;
    box-shadow: 0 0 0 -12px transparent;
    pointer-events: none;
    backface-visibility: hidden;
    opacity: 0;
    transform: translate(-50%, 12px);
    transition: box-shadow calc(var(--duration) / 1.5) var(--bounce), opacity calc(var(--duration) / 1.5) var(--bounce), transform calc(var(--duration) / 1.5) var(--bounce); }
  .copy-click.is-hovered:after {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    opacity: 1;
    transform: translate(-50%, 0);
    transition-timing-function: var(--ease); }
  .copy-click.is-copied:after {
    content: attr(data-tooltip-text-copied); }

@media screen and (max-width: 812px) {
  .typewrite {
    display: block; } }
@media screen and (max-width: 1050px) {
  .left-nav {
    display: none; }

  .typewrite {
    display: block; }

  .container {
    display: block; }

  .main {
    width: 100%;
    margin-left: 0; }

  .btn {
    font-size: 2em; }

  #home h2 {
    font-size: 8em; }

  #home h3,
  #about h3 {
    font-size: 3em;
    line-height: 1.5em; }

  #home h4,
  #about h4 {
    font-size: 2.5em;
    line-height: 2.0em; }

  #work {
    width: 80%;
    height: auto !important; }

  #work h2 {
    font-size: 2.5em; }

  .card-div {
    display: block; }

  .content h4,
  .content p {
    font-size: 2rem;
    line-height: 3.5rem; }

  .hot-nav p {
    font-size: 2em; }

  .content p {
    margin-bottom: 1em; }

  .col {
    width: 100%;
    margin: 7em 0 !important;
    font-size: 0.85rem; }

  .modal-window > div {
    width: 80%;
    padding: 4em; }

  .modal-window h1 {
    font-size: 3rem !important; }

  .modal-content h3 {
    font-size: 2.5rem; }

  .modal-content h4 {
    font-size: 2rem; }

  .breadcrumb p {
    font-size: 1.5em; }

  .modal-action {
    font-size: 2.5em; }

  .modal-close {
    font-size: 1.5em;
    padding: 0.5em 0.5em 0 0; }

  #toggle-nav {
    display: flex; }

  .social-handles {
    width: 80%; }

  #contact h2 {
    font-size: 5em; }
  #contact h4 {
    font-size: 2.5em; }
  #contact h3 {
    font-size: 3.5rem; } }

/*# sourceMappingURL=style.css.map */
